<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloWeb %></title>
    <!-- font awesome para los iconos -->
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0a647542b.js" crossorigin="anonymous"></script>

    <!-- Font de google para la letra -->
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <!-- bootstrap para el grit y la navegacion -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- animaciones animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- libreria fancy box -->
    <script src="./js/jquery-1.6.3.min.js" ></script>
    <link rel="stylesheet" href="./fancybox/jquery.fancybox-1.3.4.css">
    <script src="./fancybox/jquery.fancybox-1.3.4.js" ></script>

    <!-- mis estilos css -->
    <link href="./css/misEstilos.css" rel="stylesheet" >
</head>
<body>
    <header>
        <nav class="navbar mb-4 navbar-dark bg-dark" >
            <a href="/" class="navbar-brand ms-2" >Mi primer CRUD usando NodeJs y MongoDB</a>
        </nav>
    </header>